/* CS-FUCKIN-Smooth */
/* ♫ LET'S GROOVE ♫ */

body {
    margin: 0; /* for shunt div */
    width: 100vw;
    height: 100vh;
    font-family: 'Quicksand', cursive;
}


/* shunt div */

div#main-container {
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto !important;
  width: 100%;
  height: 100%;
}

div.frame {
  padding: 0em;
}

div#intro {
  background-image:url();
}

div#game {
  background-color:darkcyan;
}

div#result {
  background-image:url();
}


/*  GAMEPLAY SCREEN */

.half {
    width: 50vw;
    float: left;
    display: inline;
}

.half img {
    padding: 0;
}

/* instructions styling */

#instructions {
    font-size: 3em;
    color: white;
}



/* fruits half */

.fruitContainer {
    margin-left: 100px;
}

.fruitContainer span {
    display: inline;
}

.fruitContainer img {
    width: 150px;
    height: 150px;
    height: auto;
    padding: 20px;

}

/* cup half */

div.cup {
    position: relative;
}

div.cup img {
    position: relative;
    z-index: 1;
}

div.fruitDump {
    z-index: 2;

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
}


.half button {
    width: 50%;
}

.colorBlock {
    height: 100px;
    width:180px;
}

#colorBlocks {
    position: absolute;
    bottom: 0;

    left: 50%;
    transform: translate(-50%, -10%);
}

.colorBlock.blockBlue {
    background-color: blue;
}

.colorBlock.blockRed {
    background-color: red;
}

.colorBlock.blockYellow {
    background-color: yellow;
}

.colorBlock.blockClear {
    border: 1px dashed black;
}

/* content */

.center {
    /* positioning */
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.centerText {
    text-align: center;
}

img {
    padding:100px 0px;
}

button {
    /* background styling*/
    background-color: blue;
    width: 50vw;
    height: 20vh;
    border-radius: 30px;
    /* text styling*/
    color: white;
    font-size: 3em;
    font-family: 'Quicksand', cursive;
}

a {
    text-decoration: none;
}
